<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="manifest" href="/manifest.json">
    <!--안드로이드-->
    <link rel="icon" href="/logo_192x192.png" type="image/png">
    <link rel="shortcut icon" href="/logo_192x192.png" type="image/png">
    <!--애플-->
    <link rel="apple-touch-icon" href="/logo_192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="편리" />
    <meta name="description" content="한눈에 보는 편의점 리뷰" />
    <meta name="theme-color" content="#41bdd2" />

    <meta charset="UTF-8">
    <title>barcode</title>
</head>
<body>

</body>
</html>