<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">LOGO</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">전체보기</a></li>
            <li><a href="/mainDir/CU">CU</a></li>
            <li><a href="/mainDir/SevenEleven">세븐일레븐</a></li>
            <li><a href="/mainDir/GS25">GS25</a></li>
            <li><a href="/mainDir/event">행사상품</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="검색" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/myPageDir/myPage">마이페이지</a></li>
        </ul>
    </div>
</nav>