<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>

    <link rel="manifest" href="/manifest.json">
    <!--안드로이드-->
    <link rel="icon" href="/logo_192x192.png" type="image/png">
    <link rel="shortcut icon" href="/logo_192x192.png" type="image/png">
    <!--애플-->
    <link rel="apple-touch-icon" href="/logo_192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="편리" />
    <meta name="description" content="한눈에 보는 편의점 리뷰" />
    <meta name="theme-color" content="#41bdd2" />

    <style>
        @font-face {
            font-family: 'Spoqa Han Sans';
            src: local('Spoqa Han Sans'), url('SpoqaHanSans-kr-Regular.woff2') format('woff2'),
                    url('SpoqaHanSans-kr-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        * {
            font-family: 'Spoqa Han Sans Neo', sans-serif;
        }
    </style>
</head>
<body>
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="/">
                    <img src="/pyeonlilogo_fin2_r_update2_fin.png" alt="LOGO" style="max-width: 70px; height: auto;">
                </a>
            </div>
            <button class="navbar-toggler" onclick="toggleNavbar()"></button>
            <ul class="nav navbar-nav">
                <li><a href="/" style="color: black;">전체보기</a></li>
                <li><a href="/home/cu/cuQuickMeal" style="color: black;">CU</a></li>
                <li><a href="/home/sevenEleven" style="color: black;">세븐일레븐</a></li>
                <li><a href="/home/gs25" style="color: black;">GS25</a></li>
                <li><a href="/home/event/cuEvent" style="color: black;">행사상품</a></li>
            </ul>
            <div class="navbar-right">
                <div class="search-container">
                    <form class="navbar-form" action="/home/search" method="GET">
                        <input type="text" name="keyword" class="form-control" placeholder="상품 이름 검색">
                        <button type="submit" class="btn btn-default btn-search">검색</button>
                    </form>
                </div>
                <ul class="mypage">
                    <li><a href="/home/myPage" style="color: black;">마이페이지</a></li>
                    <li th:if="${#httpServletRequest.getUserPrincipal() == null}">
                        <a href="/custom-login" style="color: black;">로그인</a>
                    </li>
                    <li th:if="${#httpServletRequest.getUserPrincipal() != null}">
                        <a href="/logout" style="color: black;">로그아웃</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<script>
    function toggleNavbar() {
        const navbarNav = document.querySelector('.navbar ul');
        const navbarRight = document.querySelector('.navbar .navbar-right');

        navbarNav.classList.toggle('show');
        navbarRight.classList.toggle('show');
    }


</script>
</body>
</html>
