<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Liked Items</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css">-->
    <link href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/body1.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <link th:href="@{/css/myPage.css}" rel="stylesheet" />
    <link th:href="@{/css/likedList.css}" rel="stylesheet" />

    <link rel="manifest" href="/manifest.json">
    <!--안드로이드-->
    <link rel="icon" href="/logo_192x192.png" type="image/png">
    <link rel="shortcut icon" href="/logo_192x192.png" type="image/png">
    <!--애플-->
    <link rel="apple-touch-icon" href="/logo_192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="편리" />
    <meta name="description" content="한눈에 보는 편의점 리뷰" />
    <meta name="theme-color" content="#41bdd2" />


    <style>
        *{
        font-family: 'Spoqa Han Sans Neo', sans-serif;
        }
    </style>
</head>

<div th:replace="navbar.html"></div>

<body class="body1">
<div class="container">
    <ul class="myPageMenu">
        <li><a href="/myPageMenu/viewMyReview">내가 쓴 리뷰</a></li>
        <li><a href="/myPageMenu/likeList">찜 목록</a></li>
        <li><a href="/">로그아웃</a></li>
        <li><a href="/">홈으로</a></li>
    </ul>

    <div class="wordDiv"><img th:src="@{/cart.png}" class="cart"></img><span class="listWord">찜 목록</span></div>

    <div class="underline"></div>
    <br><br>

    <div th:if="${likedItems.empty}" class="noLiked">
        <p>찜한 상품이 없습니다.</p>
    </div>

    <div th:each="likedItem, index : ${likedItems}" class="lists">
        <div class="items">
            <img th:src="@{'/images/' + ${products[__${index.index}__].productCategory} + '/' + ${likedItem.barcodeNumber} + '.jpg'}" alt="Product Image" class="productImage">
            <div class="itemBox">
                <span class="info">Product Info</span>
                <h3>
                    <a th:href="@{'/home/viewProduct?barcodeNumber=' + ${likedItem.barcodeNumber}}">
                        <span th:text="${products[__${index.index}__].productName}"></span>
                    </a>
                </h3>
                <span th:text="${products[__${index.index}__].productCategory}"></span>
                <p><span class="won">￦<span th:text="${products[__${index.index}__].productPrice}" class="price"></span></span></p>
            </div>
            <!-- 기타 필요한 상품 정보 추가 -->
        </div>
    </div>
    <br><br><br>
</div>

</body>

<div th:replace="footer.html" class="footer"></div>
</html>