<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>event</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css">
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/body.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />

    <link rel="manifest" href="/manifest.json">
    <!--안드로이드-->
    <link rel="icon" href="/logo_192x192.png" type="image/png">
    <link rel="shortcut icon" href="/logo_192x192.png" type="image/png">
    <!--애플-->
    <link rel="apple-touch-icon" href="/logo_192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="편리" />
    <meta name="description" content="한눈에 보는 편의점 리뷰" />
    <meta name="theme-color" content="#41bdd2" />


</head>
<body>
<div th:replace="navbar.html"></div>

할인정보

<div th:replace="topbutton.html"></div>

</body>
</html>